@import "../../../assets/style/_variables";

.search_bar {
  border: 1px solid $yellow-color;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: relative;
  border-radius: 50px;
  input {
    font-size: 50px;
    padding: 10px;
    outline: none;
    width: 85%;
    border-radius: 47px;
    border: none;
    font-family: "Roboto";

    // font-family: "Roboto";

    // font-family: "Lato";

    // font-family: "Happy Monkey";

    // font-family: "Charm";
  }
  .search_icon {
    // position: absolute;
    // right: 10px;
    font-size: 40px;
    width: 10%;
    .search_loader {
      height: 40px !important;
      width: 40px !important;
      border: 6px solid $light-black;
      border-radius: 50%;
      border-top: 6px solid $yellow-color;
      animation: spin 0.5s linear infinite;
    }
  }
}

.container {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
