@import "../../assets/style/_variables";

.search_bar {
  border: 1px solid $yellow-color;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: relative;
  border-radius: 50px;
  input {
    font-size: 50px;
    padding: 10px;
    outline: none;
    width: 90%;
    border-radius: 47px;
    border: none;
  }
  .search_icon {
    // position: absolute;
    // right: 10px;
    font-size: 40px;
    width:10%
  }
}

.container {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
